//components
@import 'components/NotesAddForm';
@import 'components/NoteList';

//gloabal style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}
